*{
  font-family: 'Lato', sans-serif;
}

.card-slider-slide {
  display: block;
  position: absolute;
  text-align: center;
  color: #FFF;
  border-radius: 10px;
  transition: 1.2s;
}

.card-slider .card-slider-slide:first-child {
  z-index: 50 !important;
  transform: rotateY(0deg) translateX(0px) !important;
}


@for $i from 2 through 50 {
  .card-slider-slide[data-position="#{$i}"] {
    z-index: 51 - $i;
    transform: rotateY(0deg) translate(5% * $i, 5% * $i);
  }
}

.card-slider-slide:nth-child(n + 3) {
  opacity: 0 !important;
}

.card-slider-next,
.card-slider-prev {
  position: absolute;
  top: 50%;
  right: 16%;
  z-index: 50;

  height: 33px;
  width: 33px;

  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}
.card-slider-prev {
  left: 15px;
  transform: rotate(180deg);
}
.card-slider-dots {
  position: absolute;
  bottom: 25px;
  z-index: 12;
  left: 38%;
  cursor: default;
}

.card-slider-dots button {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #ffff;
  border-radius: 50%;
}
.card-slider-dots button:hover {
  cursor: pointer;
  background: #FA8C8C;
  transition: background .3s;
}
.card-slider-dots li.active {
  background: #FA8C8C;
}

.card-slider-slide {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}