.contacts {
  padding-bottom: 9rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(3rem);
  transition: 0.5s;

  @include revealed;

  @include breakpoint(mobile) {
    padding-bottom: 4rem;
  }

  &__title {
    margin-bottom: 7.5rem;

    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;

    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }

  &__consultant {
    padding: 2rem;
    margin-bottom: 2rem;

    border-radius: 1rem;
    background-color: var(--bg-grey);

    @include breakpoint(mobile) {
      padding: 2rem;
      margin-bottom: 1rem;

      border-radius: 2rem;
    }
  }

  &__consultant-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;

    @include breakpoint(mobile) {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
    }
  }

  &__consultant-img {
    width: 16.9rem;
    aspect-ratio: 1 / 1;

    border-radius: 50%;
    overflow: hidden;

    @include breakpoint(mobile) {
      width: 8.5rem;
      flex-shrink: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__consultant-content {
    margin-top: 2rem;

    @include breakpoint(mobile) {
      margin-top: 0;
    }
  }

  &__consultant-live-mobile {
    display: none;

    @include breakpoint(mobile) {
      display: inline-flex;
      align-items: center;
      gap: 0.6rem;
      padding: 1rem;
      margin-bottom: 1.2rem;

      border-radius: 0.6rem;
      background-color: #FCFDFF;

      font: 700 1.6rem/100% 'Bebas Neue';

      &::before {
        content: '';

        width: 0.5rem;
        height: 0.5rem;

        border-radius: 50%;
        background-color: var(--primary);
      }
    }
  }

  &__consultant-phone {
    display: none;
    margin-bottom: 3rem;

    font: 700 4rem/100% 'Bebas Neue';
    color: var(--primary);

    @include breakpoint(mobile) {
      display: block;
    }
  }

  &__consultant-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
      margin-bottom: 0;
    }
  }

  &__consultant-title {
    margin-bottom: 1rem;
    font: var(--body-S);
  }

  &__consultant-desc {
    max-width: 21.5rem;

    font: var(--text-M);
    opacity: 0.45;
  }

  &__consultant-live {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-height: 4.3rem;
    padding: 0 1.2rem;

    border-radius: 1rem;
    background-color: #fff;

    font: var(--body-XS);

    @include breakpoint(mobile) {
      display: none;
    }

    &::before {
      content: '';

      width: 0.7rem;
      height: 0.7rem;

      border-radius: 50%;
      background-color: var(--primary);
    }
  }

  &__consultant-links {
    display: flex;
    justify-content: space-between;
    max-width: 38rem;

    font: var(--body-XS);
    color: var(--primary);

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &__consultant-link {
    position: relative;
    
    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      width: 0;
      height: 1px;

      background-color: var(--primary);

      transition: $base-transition-time;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__consultant-call {
    display: none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
      display: flex;
    }

    img {
      width: 3rem;
      height: 3rem;
    }
  }

  &__consultant-email-block {
    display: none;
    flex-direction: column;
    gap: 0.4rem;
    padding-top: 3rem;

    border-top: 1px solid rgba(0, 0, 0, .1);

    @include breakpoint(mobile) {
      display: flex;
    }
  }

  &__consultant-email-link {
    font: 700 1.8rem/100% 'Bebas Neue';
    color: var(--primary);
  }

  &__consultant-email-address {
    font: 400 1.4rem/100% 'TT Commons';
    opacity: 0.45;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 6.5rem;

    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: stretch;
      margin-bottom: 0;

      border: 1px solid var(--text-title);
      border-radius: 1rem;
    }
  }

  &__info-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-width: 42rem;
    padding: 2.7rem 3.5rem 1.1rem 2.4rem;

    background: url("../img/contact-link-back.svg") no-repeat center;
    background-size: 99%;

    font: var(--text-L);
    color: rgba(29, 41, 60, 0.6);
    
    &:hover svg {
      color: #43AF31;
    }

    @include breakpoint(mobile) {
      max-width: none;
      padding: 1.2rem 2rem;

      background: none;
    }

    span {
      max-width: 25rem;

      @include breakpoint(mobile) {
        max-width: 16.5rem;
      }
    }

    svg {
      width: 5.5rem;
      height: 5.5rem;
      color: #4FCD3B;

      transition: $base-transition-time;

      @include breakpoint(mobile) {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  &__info-address {
    margin-top: 1rem;
    max-width: 18.5rem;

    font: var(--text-L);
    opacity: 0.6;

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &__subtitle {
    margin-bottom: 1.5rem;
    font: var(--body-S);

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 1rem;
    max-width: 49rem;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
      display: none;
    }
  }


  &__input-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      width: 4rem;
      height: 4rem;
    }
  }

  &__confidence {
    display: flex;
    gap: 0.5rem;
    max-width: 36rem;

    font: var(--text-M);
    opacity: 0.45;

    @include breakpoint(mobile) {
      display: none;
    }

    &::before {
      content: '*';
    }

    a {
      position: relative;

      display: inline-block;
      margin-left: 0.5rem;

      color: var(--primary);

      &::after {
        content: '';

        position: absolute;
        bottom: 0;
        left: 0;

        width: 0;
        height: 1px;

        background-color: var(--primary);

        transition: $base-transition-time;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  &__map {
    height: 100%;

    background: grey;
    overflow: hidden;
    border-radius: 2.5rem;

    @include breakpoint(mobile) {
      width: 100%;
      aspect-ratio: 330 / 200;
    }

    & > ymaps, & > ymaps > ymaps {
      height: 100% !important;
    }
  }
}