.features {
  padding: 12rem 0;

  @include breakpoint(mobile) {
    padding: 6rem 0;
  }

  &__title {
    max-width: 114rem;
    margin-bottom: 11.5rem;

    color: #B0B1B3;

    @include breakpoint(mobile) {
      max-width: 34rem;
      margin-bottom: 3rem;
    }

    b {
      color: #1E1E1E;
    }
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 8rem;
    padding: 4rem 0;

    border-radius: 11rem 1rem 12rem 1rem;
    background-color: #fff;

    @include breakpoint(mobile) {
      border-radius: 4rem 1rem 4rem 1rem;
    }

    &:first-child {
      padding-top: 0;
    }


    &:nth-child(n + 2) {
      position: absolute;
      left: 0;
      top: 0;
    }

    @include breakpoint(mobile) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47.3rem;
    aspect-ratio: 473 / 332;

    background-color: rgba(176, 177, 179, 0.2);
    border-radius: 11rem 1rem 12rem 1rem;
    overflow: hidden;

    @include breakpoint(mobile) {
      width: 100%;
      aspect-ratio: 330 / 228;

      border-radius: 4rem 1rem 4rem 1rem;
    }

    img {
      width: 100%;
      max-width: 80%;
      max-height: 80%;
      object-fit: contain;
    }

    &--fill {
      img {
        max-width: none;
        max-height: none;
        height: 100%;
        object-fit: cover;
      }
    }
  }


  &__item-title {
    margin-bottom: 2.4rem;
    
    font: var(--title-h1);
    color: #B0B1B3;

    transition: $base-transition-time;

    @include breakpoint(mobile) {
      margin-bottom: 1rem;
    }

    &--red {
      color: var(--primary);
    }
  }

  &__text-block {
    display: flex;
    align-items: flex-start;
    gap: 4rem;

    @include breakpoint(mobile) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__text {
    max-width: 47rem;

    opacity: 0.6;

    font: var(--text-L);
  }

  &__property {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__value {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 9rem;
    padding: 0.2rem 2.5rem 0;

    border-radius: 99.9rem;
    background-color: #EEEEF0;

    font: var(--body-XL);

    @include breakpoint(mobile) {
      min-height: 5.4rem;
      padding: 0 2.8rem;
    }
  }

  &__desc {
    max-width: 9rem;
    font: var(--body-XS);

    @include breakpoint(mobile) {
      max-width: none;
    }
  }
}