.footer {
  padding-bottom: 2rem;

  @include breakpoint(mobile) {
    padding-bottom: 2.4rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include breakpoint(mobile) {
      gap: 2rem;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__name {
    max-width: 30rem;

    font: var(--text-M);
    opacity: 0.45;

    @include breakpoint(mobile) {
      max-width: 25rem;
      order: 1;

      text-align: center;
    }
  }

  &__nav {
    margin-right: auto;
    margin-left: 16.3rem;

    @include breakpoint(mobile) {
      margin-left: auto;
    }
  }

  &__menu {
    display: flex;
    gap: 7.3rem;

    font: var(--body-S);

    @include breakpoint(mobile) {
      gap: 4rem;
      margin-bottom: 4rem;
    }
  }

  &__menu-link {
    transition: $base-transition-time;

    &:hover {
      color: var(--primary);
    }
  }

  &__socials {
    display: flex;
    gap: 1rem;

    @include breakpoint(mobile) {
      gap: 1.6rem;
      margin-bottom: 2rem;
    }

    svg {
      width: 3rem;
      height: 3rem;
      opacity: 0.6;

      transition: $base-transition-time;

      &:hover {
        opacity: 1;
        color: var(--primary);
      }

      @include breakpoint(mobile) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(mobile) {
      flex-direction: column;
    }
  }

  &__download {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    font: var(--text-M);
    font-weight: 600;

    transition: $base-transition-time;

    &:hover {
      color: var(--primary);
    }

    @include breakpoint(mobile) {
      font-weight: 600;
      gap: 1rem;
      margin-bottom: 3.8rem;
    }

    svg {
      width: 2rem;
      height: 2rem;

      @include breakpoint(mobile) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &__developer {
    display: flex;
    align-items: center;
    gap: 1.7rem;

    font: var(--text-M);

    transition: $base-transition-time;

    &:hover {
      color: var(--primary);
    }

    @include breakpoint(mobile) {
      gap: 1.4rem;
    }

    span {
      opacity: 0.45;
    }

    svg {
      width: 9.3rem;
      height: 2.4rem;

      @include breakpoint(mobile) {
        width: 7.7rem;
        height: 2rem;
      }
    }
  }
}