.gallery {
  padding-bottom: 12rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(3rem);
  transition: 0.5s;

  @include revealed;

  @include breakpoint(mobile) {
    padding-bottom: 6rem;
  }

  &__title {
    margin-bottom: 4.4rem;

    @include breakpoint(mobile) {
      margin-bottom: 1.8rem;
    }
  }

  &__inner {
    position: relative;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(15,1fr);
    gap: 1rem;

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &__item {
    grid-column: span 3;
    aspect-ratio: 300 / 225;

    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;

    &:nth-child(7n + 1) {
      grid-column: span 10;
      aspect-ratio: 1008 / 600;

      @include breakpoint(mobile) {
        aspect-ratio: 315 / 195;
      }
    }

    &:nth-child(7n + 2) {
      grid-column: span 5;
      aspect-ratio: auto;

      @include breakpoint(mobile) {
        aspect-ratio: 315 / 195;
      }
    }
  }

  &__link {
    position: relative;

    display: block;
    width: 100%;
    height: 100%;

    &--video {
      &::before {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        @extend .video-button;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: $base-transition-time;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  .slider-navigation {
    position: absolute;
    bottom: calc(100% + 4.4rem);
    right: 0;

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &__mobile-list {
    display: none;
    
    @include breakpoint(mobile) {
      position: relative;

      display: block;
      width: calc(100% - 1.5rem);
      aspect-ratio: 315 / 195;
    }
  }

  &__mobile-item {
    width: 100%;
    height: 100%;
  }

  &__mobile-next, &__mobile-prev {
    display: none;

    @include breakpoint(mobile) {
      display: flex;
      top: 45%;
    }
  }

  &__mobile-next {
    right: 11%;
  }

  &__mobile-dots {
    display: none;

    @include breakpoint(mobile) {
      display: flex;
      margin-top: 3.5rem;
    }
  }
}