.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  padding: 5rem 0;
  color: #fff;

  transition: 0.2s;

  &--white {
    padding: 2rem 0;

    background-color: #fff;
    color: var(--text-body);

    .header__button {
      border-color: var(--text-title);
      color: var(--text-title);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
  }

  &__logo {
    svg {
      width: 14.5rem;
      height: 7rem;
    }
  }

  &__nav {
    margin-left: auto;
    margin-right: 9.6rem;
  }

  &__menu {
    display: flex;
    gap: 4rem;
  }

  &__menu-link {
    font: var(--text-S);
  }

  &__phone {
    font: var(--other);
  }

  &__whatsapp {
    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__button {
    flex-grow: 1;
    max-width: 16.5rem;
    min-height: 5rem;

    font: var(--text-S);
    line-height: 1;
  }
}