.map {
  padding-bottom: 12rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(3rem);
  transition: 0.5s;

  @include revealed;

  @include breakpoint(mobile) {
    padding-bottom: 6rem;
  }

  &__title {
    max-width: 71rem;
    margin-bottom: 2.4rem;

    @include breakpoint(mobile) {
      margin-bottom: 3rem;
    }
  }
  
  &__cities {
    display: none;

    font: 700 2rem/100% 'Bebas Neue';
    opacity: 0.5;

    @include breakpoint(mobile) {
      display: block;
      width: 100vw;
      margin-left: -1.5rem;
      margin-bottom: 3rem;
    }
  }

  &__cities-slide {
    width: auto;

    &:not(:last-child)::after {
      content: '';

      position: absolute;
      right: -2.4rem;
      top: 50%;
      transform: translateY(-50%);

      width: 0.4rem;
      height: 0.4rem;
      
      border-radius: 50%;
      background-color: #878C93;
    }
  }

  &__wrapper {
    position: relative;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2.5rem;
    margin-bottom: 11rem;

    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
      margin-bottom: 3rem;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: -10rem;

    width: 100%;
    max-width: 124rem;
    aspect-ratio: 1240 / 695;

    color: var(--bg-grey);

    @include breakpoint(mobile) {
      display: none;
    }

    svg {
      width: 100%;
    }
  }

  &__circles {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }

  &__circle {
    position: absolute;
    cursor: pointer;

    &:hover {
      .map__circle-name {
        top: -4rem;

        padding: 0.8rem 1.5rem;

        background-color: var(--primary);

        font-size: 1.4rem;
        color: #fff;
      }

      .map__circle-icon {
        border-color: var(--primary);
      }
    }
  }

  &__circle-name {
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 0.5rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 120%;
    color: rgba(15, 25, 38, 0.33);
    white-space: nowrap;

    transition: $base-transition-time;
  }

  &__circle-icon {
    width: 2rem;
    height: 2rem;
    
    border-radius: 50%;
    background-color: #F0F4FE;
    border: 0.5rem solid rgba(15, 25, 38, 0.33);

    transition: $base-transition-time;
  }

  &__slider-container {
    position: relative;

    grid-column: -5 / -1;
    aspect-ratio: 435 / 500;
    margin-top: 1rem;

    @include breakpoint(mobile) {
      grid-column: 1 / -1;
      aspect-ratio: 1 / 1;
      margin-top: 0;
    }
  }

  &__slider {
    height: 100%;
    overflow: visible;

    @include breakpoint(mobile) {
      height: auto;
    }

    .swiper-wrapper {
      transform: none !important;

      @include breakpoint(mobile) {
        aspect-ratio: 1 / 1;
      }
    }

    .swiper-pagination {
      position: static;

      display: none;
      margin-top: 3.5rem;

      @include breakpoint(mobile) {
        display: flex;
      }
    }
  }

  &__slide {
    border-radius: 1rem;
    overflow: hidden;

    @include breakpoint(mobile) {
      width: calc(100% - 1.5rem) !important;
      aspect-ratio: 1 / 1;
    }

    img {
      width: 100%;
      height: 100%;
    }

    &.swiper-slide {
      position: absolute;
      top: 8rem;
      left: 8rem;

      opacity: 0;

      transition: 0.3s;

      @include breakpoint(mobile) {
        top: 3rem;
        left: 3rem;
      }
    }

    &.swiper-slide-active {
      position: absolute;
      top: 4rem;
      left: 4rem;
      z-index: 2;

      width: 100%;
      height: 100%;

      opacity: 1;

      @include breakpoint(mobile) {
        top: 0;
        left: 0;

        height: auto;
      }
    }

    &.swiper-slide-prev {
      position: absolute;
      top: 0;
      left: 0;

      opacity: 1;

      @include breakpoint(mobile) {
        top: -6rem;
        left: -6rem;
        opacity: 0;
      }
    }

    &.swiper-slide-next {
      @include breakpoint(mobile) {
        top: 1.5rem;
        left: 1.5rem;

        opacity: 1;
      }
    }
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.5rem;

    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }

  &__feature {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    @include breakpoint(mobile) {
      gap: 2.4rem;
    }
  }

  &__feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 7.5rem;

    border-radius: 50%;
    background-color: var(--bg-grey);

    @include breakpoint(mobile) {
      width: 6.2rem;
      height: 6.2rem;
    }

    img {
      width: 4.5rem;
      height: 4.5rem;

      @include breakpoint(mobile) {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  &__feature-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include breakpoint(mobile) {
      gap: 0.2rem;
    }
  }

  &__feature-title {
    font: var(--body-L);
  }

  &__feature-text {
    max-width: 30rem;

    font: var(--text-L);
    opacity: 0.6;

    @include breakpoint(mobile) {
      max-width: 18.4rem;
    }
  }
}