.models {
  padding-bottom: 12rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(3rem);
  transition: 0.5s;

  @include revealed;

  @include breakpoint(mobile) {
    padding-bottom: 6rem;
  }

  &__inner {
    padding: 6.8rem 10rem 8.8rem;

    background-color: var(--bg-grey);
    border-radius: 2.5rem;

    @include breakpoint(mobile) {
      padding: 3rem 1.5rem;
    }
  }

  &__title {
    margin-bottom: 4rem;

    opacity: 0.5;

    font: var(--body-S);

    @include breakpoint(mobile) {
      margin-bottom: 3rem;
    }
  }

  &__wrapper {
    position: relative;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2.5rem;

    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }

  &__list-slider {
    grid-column: 1 / 5;
    width: 100%;
    max-width: 40.2rem;
    margin-bottom: -4rem;

    overflow: visible;

    counter-reset: modelsSlides;

    @include breakpoint(mobile) {
      grid-column: 1 / -1;
      max-width: none;
      margin-bottom: 0;
    }
  }

  &__list-slide {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1.6rem 2rem 2rem;
    min-height: 20rem;

    border-radius: 1rem 1rem 12rem 1rem;
    background-image: var(--machine-color);
    background-color: #fff;
    background-size: 200% 3000%;
    background-position-y: 300%;
    cursor: pointer;

    color: var(--text-title);

    transition: $base-transition-time;

    @include breakpoint(mobile) {
      justify-content: center;
      gap: 0;
      padding: 1.5rem 1rem;
      width: auto;
      min-height: 6.8rem;

      border-radius: 0.5rem 0.5rem 2rem 0.5rem;
    }

    &.swiper-slide-thumb-active {
      background-position-y: 240%;
      color: #fff;

      &::before {
        top: 1.3rem;

        opacity: 0.1;

        font-size: 20rem;
        color: #F1F1F1;

        @include breakpoint(mobile) {
          top: 50%;

          font-size: 6.8rem;
        }
      }

      .models__list-img {
        right: 1.6rem;
      }
    }

    &::before {
      counter-increment: modelsSlides;
      content: '0' counter(modelsSlides);

      position: absolute;
      top: 2rem;
      left: 2rem;

      font-family: 'Bebas Neue', sans-serif;
      font-size: 5.7rem;
      line-height: 100%;
      color: #F1F1F1;

      transition: $base-transition-time;

      @include breakpoint(mobile) {
        left: -0.8rem;
        top: 50%;
        transform: translateY(-50%);

        font-size: 6.8rem;
      }
    }
  }

  &__list-title {
    position: relative;
    z-index: 1;

    font: var(--body-M);
  }

  &__list-text {
    position: relative;
    z-index: 1;

    max-width: 20rem;

    font: var(--text-M);
    opacity: 0.6;

    @include breakpoint(mobile) {
      max-width: 12rem;
      font-size: 1rem;
    }
  }

  &__list-img {
    position: absolute;
    right: -2.2em;
    top: 50%;
    transform: translateY(-50%);

    width: 24rem;
    aspect-ratio: 240 / 150;

    transition: $base-transition-time;

    @include breakpoint(mobile) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__list-tag {
    position: absolute;
    top: 1.3rem;
    left: 2rem;

    max-width: 7rem;
    width: 100%;
    padding: 0.5rem 1rem;

    border-radius: 0.5rem;
    background-color: #B32E20;

    font: var(--text-XS);
    text-transform: uppercase;
    color: #fff;
    text-align: center;

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &__property-slider {
    position: relative;

    width: 100%;
    grid-column: 6 / -1;

    @include breakpoint(mobile) {
      display: flex;
      flex-direction: column;
      grid-column: 1 / -1;
    }
  }

  &__property-slide {
    cursor: pointer;
  }

  &__property-check-block {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem 1rem 2rem 1.8rem;

    border-radius: 1rem;
    background-color: #fff;

    @include breakpoint(mobile) {
      align-items: center;
      gap: 0.6rem;
      padding: 1rem;
    }
  }

  &__property-check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;

    border-radius: 50%;
    background-color: var(--bg-grey);

    @include breakpoint(mobile) {
      width: 2.4rem;
      height: 2.4rem;
    }

    svg {
      width: 1.4rem;
      height: 1.1rem;

      @include breakpoint(mobile) {
        width: 1rem;
        height: 0.8rem;
      }
    }
  }

  &__property-check-desc {
    max-width: 14rem;
    font: var(--body-XS);

    @include breakpoint(mobile) {
      max-width: 7.6rem;
      font-size: 1.2rem;
    }
  }

  &__property-list {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    @include breakpoint(mobile) {
      position: static;
      order: 1;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem 1.2rem;
      margin-bottom: 3rem;
    }
  }

  &__property-item {
    position: absolute;

    @include breakpoint(mobile) {
      position: static;

      display: flex;
      flex-direction: column;
    }

    svg {
      position: absolute;
      z-index: 1;

      @include breakpoint(mobile) {
        display: none;
      }
    }

    &--view-1 {
      svg {
        right: -5.5rem;
        top: 5.5rem;
      }
    }

    &--view-2 {
      svg {
        right: 11rem;
        top: 5.5rem;
      }
    }

    &--view-3 {
      svg {
        left: 50%;
        top: 10.4rem;
      }
    }

    &--view-4 {
      svg {
        left: -6.9rem;
        bottom: 6rem;
      }
    }

    circle {
      r: 0;
    }
  }

  &__property-content {
    transform: translateX(-2rem);

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;

    color: var(--text-title);
    text-align: center;

    @include breakpoint(mobile) {
      align-items: flex-start;
      text-align: left;
    }
  }

  &__property-value {
    font: var(--body-XL);
  }

  &__property-desc {
    max-width: 12rem;

    font: var(--text-M);
    opacity: 0.45;
  }

  &__property-img {
    position: absolute;
    right: 4rem;
    top: 50%;
    transform: translateY(-50%);

    width: 57.2rem;
    aspect-ratio: 572 / 358;

    @include breakpoint(mobile) {
      position: static;
      transform: none;

      width: 23.5rem;
      aspect-ratio: 235 / 147;
      margin: 1.8rem auto 2.6rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    width: 100%;

    @include breakpoint(mobile) {
      position: static;

      order: 2;
      flex-direction: column;
      align-items: stretch;
      gap: 2rem;

      text-align: center;
    }
  }

  &__button {
    flex-grow: 1;
    max-width: 25rem;

    @include breakpoint(mobile) {
      max-width: none;
    }
  }

  &__link {
    font: var(--body-XS);
    color: var(--text-title);
    text-transform: uppercase;

    transition: $base-transition-time;

    &:hover {
      color: var(--primary);
    }
  }
}

#mask1, #mask5, #mask9 {
  stroke-dasharray: 148;
  stroke-dashoffset: 148;
}

#mask2, #mask6, #mask10  {
  stroke-dasharray: 301;
  stroke-dashoffset: 301;
}

#mask3, #mask7, #mask11  {
  stroke-dasharray: 228;
  stroke-dashoffset: 228;
}

#mask4, #mask8, #mask12  {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}
