.model-text {
  padding-bottom: 12rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(3rem);
  transition: 0.5s;

  @include revealed;

  @include breakpoint(mobile) {
    padding-bottom: 6rem;
  }
}