.model-gallery {
  position: relative;

  padding-bottom: 12rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(3rem);
  transition: 0.5s;

  @include revealed;

  @include breakpoint(mobile) {
    padding-bottom: 6rem;
  }

  &__title {
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }

  &__slider-container {
    position: relative;

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &__slide {
    overflow: hidden;

    img {
      width: 100%;
      aspect-ratio: 386 / 300;

      border-radius: 1rem;
      overflow: hidden;

      transition: $base-transition-time;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
  &__link {
    position: relative;

    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;

    &--video {
      &::before {
        content: '';

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        @extend .video-button;
      }
    }
  }

  .slider-navigation {
    position: absolute;
    right: 11rem;
    bottom: calc(100% + 6.5rem);
  }

  .card-slider-container {
    position: relative;
  }

  &__mobile-slider {
    display: none;

    @include breakpoint(mobile) {
      display: block;
      width: calc(100% - 1.5rem);
      aspect-ratio: 315 / 195;
    }
  }

  &__mobile-slide {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;

    &--video {
      &::before {
        content: '';

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        @extend .video-button;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__next, &__prev {
    display: none;

    @include breakpoint(mobile) {
      display: flex;
      top: 45%;
    }
  }

  &__next {
    @include breakpoint(mobile) {
      right: 11%;
    }
  }

  &__dots {
    display: none;

    position: static;
    margin-top: 6.5rem;

    @include breakpoint(mobile) {
      display: flex;
    }

    @include breakpoint(supersmall-mobile) {
      margin-top: 3.5rem;
    }
  }
}