.reviews {
  padding-bottom: 12rem;

  overflow: hidden;
  opacity: 0;
  visibility: hidden;

  transform: translateY(3rem);
  transition: 0.5s;

  @include revealed;

  @include breakpoint(mobile) {
    padding-bottom: 6rem;
  }

  &__inner {
    position: relative;
  }

  &__slider {
    overflow: visible;
  }

  &__title {
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
      margin-bottom: 3rem;
    }
  }

  .swiper-slide {
    width: auto;

    &:last-child {
      .reviews__item {
        margin-right: 0;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-right: 2.5rem;
  }

  &__item-graphic-block {
    width: 34rem;
    margin-bottom: 6.5rem;

    @include breakpoint(mobile) {
      width: 100%;
      max-width: 24.4rem;
      margin-bottom: 3rem;
    }
  }

  &__item-graphic {
    position: relative;

    display: block;
    width: 100%;
    aspect-ratio: 340 / 175;
    padding-top: 51.47%;

    border-radius: 999px;
    overflow: hidden;
    cursor: pointer;

    @include breakpoint(mobile) {
      aspect-ratio: 245 / 120;
      padding-top: 48.97%;
    }

    &--video {
      &::before {
        content: '';

        position: absolute;
        left: 4rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        @extend .video-button;

        @include breakpoint(mobile) {
          left: 3.2rem;
        }
      }
    }

    img {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-title {
    position: relative;

    max-width: 39rem;
    margin: 0 0 2rem;

    font: var(--body-L);

    @include breakpoint(mobile) {
      max-width: 21rem;
      margin-bottom: 1rem;
    }

    &::before {
      content: '';

      position: absolute;
      left: 0;
      top: -4.5rem;
      z-index: -1;

      width: 7rem;
      height: 7rem;
      background: url("../img/quotes-icon.svg") no-repeat center;
      background-size: contain;

      @include breakpoint(mobile) {
        top: -1.6rem;

        width: 3rem;
        height: 3rem;
      }
    }
  }

  &__item-text {
    max-width: 36rem;
    margin-bottom: 4rem;

    opacity: 0.6;
    font: var(--text-L);

    @include breakpoint(mobile) {
      max-width: 24.4rem;
      margin-bottom: 2rem;
    }
  }

  &__item-author {
    margin-bottom: 0.5rem;

    font: var(--body-XS);
    color: var(--accent);
  }

  &__item-position {
    max-width: 25rem;

    opacity: 0.45;
    font: var(--text-M);

    @include breakpoint(mobile) {
      max-width: 24.4rem;
    }
  }

  .slider-navigation {
    position: absolute;
    top: 0;
    right: 0;

    @include breakpoint(mobile) {
      display: none;
    }
  }

  .swiper-pagination {
    display: none;

    @include breakpoint(mobile) {
      position: static;

      display: flex;
      margin-top: 3rem;
    }
  }
}