<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__top">
                <p class="footer__name">
                    ООО «Спорт Лайн Поволжье»
                    ИНН:&nbsp;5260422236   ОГРН:&nbsp;1165260051835
                </p>
                <nav class="footer__nav">
                    <ul class="footer__menu">
                        {{#each footerMenu }}
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" href="#">{{this.text}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </nav>
                <ul class="footer__socials">
                    {{#each socials }}
                        <li class="footer__social">
                            <a class="footer__social-link" href="#">
                                <svg>
                                    <use xlink:href="#{{this.img}}"></use>
                                </svg>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="footer__bottom">
                <a class="footer__download" download="#" href="#">
                    <span>Скачать реквизиты</span>
                    <svg>
                        <use xlink:href="#download-icon"></use>
                    </svg>
                </a>
                <a class="footer__developer" href="https://markweber.ru/">
                    <span>Разработано в </span>
                    <svg>
                        <use xlink:href="#mark-webber"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>