<div class="slider-navigation js-slider-navigation">
    <button class="slider-navigation__button{{#if buttonMod }} {{buttonMod}}{{/if}} js-prev-slide">
        <svg>
            <use xlink:href="#slider-arrow"></use>
        </svg>
    </button>
    <button class="slider-navigation__button{{#if buttonMod }} {{buttonMod}}{{/if}} js-next-slide">
        <svg>
            <use xlink:href="#slider-arrow"></use>
        </svg>
    </button>
</div>