{{#extend "layout"}}
    {{#content "main"}}

        <section class="error">
            <div class="container">
                <div class="error__wrapper">
                    <div class="error__content">
                        <h1 class="error__title">Ошибка 404</h1>
                        <p class="error__lead">К сожалению, такой страницы не существует</p>
                        <a href="index.html" class="error__button button button--red">На главную</a>
                    </div>
                    <div class="error__img">
                        <img class="lazyload" data-src="img/error.png" alt="Фото ошибки">
                        <span class="error__number">404</span>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}