{{#extend "layout"}}
{{#content "main"}}

    <section class="intro">
        <div class="container">
            <div class="intro__inner">
                <div class="intro__header">
                    <h1 class="intro__title">Ледозаливочная техника бренда SportIce</h1>
                    <div class="intro__pagination js-intro-pagination">
                        <span class="intro__pagination-number">01</span>
                        <div class="intro__pagination-line">
                            <div class="intro__pagination-line-progress"></div>
                        </div>
                        <span class="intro__pagination-number">03</span>
                    </div>
                    <div class="intro__navigation">
                        <button class="js-prev-slide">
                            <svg>
                                <use xlink:href="#slider-arrow"></use>
                            </svg>
                        </button>
                        <button class="js-next-slide">
                            <svg>
                                <use xlink:href="#slider-arrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="intro__body">
                    <div class="intro__body-wrapper">
                        <div class="intro__img-slider-container">
                            <div class="intro__img-slider swiper">
                                <div class="swiper-wrapper">
                                    {{#each intro }}
                                        <div class="swiper-slide" data-background="{{this.background}}">
                                            <img src="{{this.img}}" alt="Фото машины">
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        <div class="intro__text-slider swiper">
                            <div class="swiper-wrapper">
                                {{#each intro }}
                                    <div class="swiper-slide">{{this.text}}</div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro__footer">
                    <a class="intro__button button button--white" href="#">Подберите технику со скидкой 10%</a>
                    <div class="intro__brand">
                        <div class="intro__brand-check">
                            <svg>
                                <use xlink:href="#check-icon"></use>
                            </svg>
                        </div>
                        <p class="intro__brand-text">новый бренд на российском рынке</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{/content}}
{{/extend}}