{{#extend "layout"}}
{{#content "main"}}

    <section class="intro">
        <div class="container">
            <div class="intro__inner">
                <div class="intro__header">
                    <h1 class="intro__title">Ледозаливочная техника бренда SportIce</h1>
                    <div class="intro__pagination">
                        <span class="intro__pagination-number">1</span>
                        <div class="intro__pagination-line"></div>
                        <span class="intro__pagination-number">3</span>
                    </div>
                    <div class="intro__navigation">
                        <button>
                            <svg>
                                <use xlink:href="#slider-arrow"></use>
                            </svg>
                        </button>
                        <button>
                            <svg>
                                <use xlink:href="#slider-arrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="intro__body">

                </div>
                <div class="intro__footer">
                    <a class="button button--white" href="#">Подберите технику со скидкой 10%</a>
                    <div class="intro__brand">
                        <div class="intro__brand-check">
                            <svg>
                                <use xlink:href="#check-icon"></use>
                            </svg>
                        </div>
                        <p class="intro__brand-text">новый бренд на российском рынке</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{/content}}
{{/extend}}